$main-color: #f2f2f2;
$text-color: #333;
ul,
li {
	list-style: none;
}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.search-bar {
	margin-top: 20px;
	text-align: center;
}
body {
	font-family: 'Roboto Condensed', sans-serif;
	color: $text-color;
	background-color: $main-color;
}
.none {
	display: none !important;
}

#search-input {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	width: 300px;
}

.map-widget {
	box-shadow: 18px 15px 21px 0px rgba(34, 60, 80, 0.2);
	margin-top: 20px;
	display: flex;
	justify-content: center;
	@media (max-width: 320px) {
	}
}
.burger-menu {
	display: none;
	cursor: pointer;
	flex-direction: column;
	gap: 6px;
	padding: 10px;

	@media (max-width: 768px) {
		display: flex;
	}

	span {
		display: block;
		width: 30px;
		height: 3px;
		background-color: #333;
		transition: all 0.3s ease;
	}

	&.active {
		span:nth-child(1) {
			transform: rotate(45deg) translate(5px, 5px);
		}

		span:nth-child(2) {
			opacity: 0;
		}

		span:nth-child(3) {
			transform: rotate(-45deg) translate(8px, -8px);
		}
	}
}

.header {
	&__wrap {
		display: flex;
		align-items: center;
		gap: 30px;
		@media (max-width: 347px) {
			flex-direction: column;
		}
	}

	&__nav {
		@media (max-width: 768px) {
			display: none;
			position: absolute;
			top: 100px;
			left: 0;
			width: 100%;
			background-color: white;
			padding: 20px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

			&.active {
				display: block;
			}
		}
	}
	&__links {
		gap: 30px;
		display: flex;
		color: black;
		font-size: 28px;
		font-weight: 500;
		@media (max-width: 768px) {
			flex-direction: column;
			align-items: center;
			list-style: none;

			li {
				display: flex;
				gap: 30px;
			}
		}
	}
	&__links a {
		list-style-type: none;
		color: black;
		text-decoration: none;
	}
	&__links a:hover {
		opacity: 0.8;
	}
	&__links:hover {
		color: #ff6600;
	}
	&__logo_pic {
		height: 120px;
	}
	&__logo_text {
		text-decoration: none;
		color: #333;
		font-size: 48px;
		font-weight: 700;
	}
}
.map-widget-text {
	margin-top: 40px;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
	@media (max-width: 581px) {
		font-size: 24px;
	}
}
.container {
	margin-bottom: 100px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.hero {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 0;
	background-color: #fff;
	box-shadow: 18px 15px 21px 0px rgba(34, 60, 80, 0.2);
	@media (max-width: 998px) {
		flex-direction: column;
	}
	&__content {
		flex: 1;
		padding: 20px;
	}

	&__title {
		font-size: 3em;
		margin-bottom: 20px;
	}

	&__title-highlight {
		color: #ff6600;
	}

	&__text {
		font-size: 1.2em;
		line-height: 1.6;
	}

	&__image {
		flex: 1;
		text-align: center;
		padding: 20px;

		img {
			object-fit: cover;
			object-position: bottom;
			width: 600px;
			height: 500px;
			@media (max-width: 630px) {
				width: 450px;
			}
		}
	}
}

.destinations {
	padding: 50px 0;
}

.destination {
	display: flex;
	align-items: center;
	padding: 50px;

	&__pic {
		width: 200px;
		height: auto;
		margin-right: 20px;
	}
}
.main {
	&__cont_text {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
	&__cont_text-top-txt {
		font-size: 36px;
	}
	&__cont_text-bot-txt {
		font-size: 20px;
	}

	&__cont_modal {
		background-color: rgba(0, 0, 0, 0.1);
		height: 100vh;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 4;
		overflow-y: auto;
		display: none;
		align-items: center;
		justify-content: center;
		@media (max-width: 720px) {
			width: auto;
			height: auto;
		}
	}
	&__cont_open-button {
		position: relative;
		margin-bottom: 30%;
		width: 250px;
		height: 64px;
		color: #333;
		font-size: 24px;
		border: none;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.1);
		box-shadow: 15px 12px 8px 0px rgba(34, 60, 80, 0.2);
	}
	&__cont_modal_button {
		padding-top: 24px;
		display: flex;
		justify-content: center;
	}
	&__cont_modal.open {
		display: grid;
		@media (max-width: 720px) {
			width: 100%;
			height: 100%;
		}
	}
	&__cont_modal_box {
		position: relative;
		max-width: 500px;
		padding: 45px;
		height: 500px;
		width: 500px;
		z-index: 1;
		margin: 30px 15px;
		background-color: white;
		box-shadow: 18px 15px 21px 0px rgba(34, 60, 80, 0.2);
		@media (max-width: 720px) {
			width: 400px;
		}
	}
	&__cont_close_modal_btn {
		position: absolute;
		border: none;
		background-color: none;
		padding: 5px;
		top: 8px;
		right: 8px;
		cursor: pointer;
	}
	&__cont_open-button:hover {
		color: white;
	}
	&__cont_modal_form {
		display: flex;
		flex-direction: column;
	}
	&__cont_modal_form_textarea {
		width: 100%;
		height: 200px;
		resize: none;
	}
	&__cont_modal_form_btn {
		margin-top: 20px;
		background-color: transparent;
		border: none;
		font-size: 18px;
	}
	&__cont_modal_form_btn:hover {
		color: #ff6600;
	}
	&__attract {
		&__img {
			display: flex;
			justify-content: center;
		}
		&__image {
			height: 720px;
			@media (max-width: 720px) {
				height: 400px;
			}
		}
		&__text {
			font-size: 24px;
		}
		&__title {
			font-size: 2.5rem;
			font-weight: bold;
			margin-bottom: 1rem;
			text-align: center;
		}
		&__highlight {
			font-weight: bold;
			color: #ff6600;
		}
		&__list {
			list-style: disc;
			margin-left: 2rem;
		}
	}
	&__content {
		gap: 60px;
		padding-left: 40px;
		display: flex;
		flex-direction: column;
	}
	&__button {
		height: 150px;
		width: 100px;
		background: none;
		border: none;
		font-size: 32px;
		font-weight: 400;
		cursor: pointer;
	}
	&__button:hover {
		color: #ff6600;
	}
	&__pic {
		border: 1px solid black;
		width: 400px;
		@media (max-width: 320px) {
			height: 250px;
			width: 250px;
		}
	}
	&__box {
		margin-top: 40px;
		display: flex;
		@media (max-width: 320px) {
			flex-direction: column;
		}
	}
	&__top_text {
		justify-content: center;
		font-size: 48px;
		display: flex;
		@media (max-width: 720px) {
			font-size: 30px;
		}
	}
	&__text {
		font-size: 36px;
		max-height: 50px;
		font-weight: 800;
		@media (max-width: 320px) {
			font-size: 24px;
		}
		&__bot-text {
			padding-top: 30px;
			font-size: 18px;
			@media (max-width: 320px) {
				font-size: 18px;
				max-width: 600px;
			}
		}
	}
}

// Базовые стили для контейнера карточек
#cards {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	padding: 20px;
}

// Стили для каждой карточки
.cards {
	& > div {
		background-color: #f9f9f9;
		border: 1px solid #ddd;
		border-radius: 8px;
		padding: 20px;
		width: 300px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		transition: transform 0.3s ease;

		&:hover {
			transform: translateY(-5px);
			box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
		}
	}

	// Стили для заголовка карточки
	h1 {
		font-size: 24px;
		margin-bottom: 10px;
		color: #333;
	}

	// Стили для описания карточки
	p {
		font-size: 16px;
		color: #666;
		margin-bottom: 20px;
	}

	// Стили для изображения карточки
	img {
		width: 100%;
		height: auto;
		border-radius: 4px;
		margin-bottom: 15px;
	}
}

.footer {
	position: relative;
	text-align: center;
	padding: 20px 0;
}
